Fitness_Bot_Phase_2_Cron.json
{
  "name": "Fitness_Bot_Phase_2_Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 23 * * *"
            }
          ]
        }
      },
      "id": "p2c-cron",
      "name": "Cron 23:00 MSK",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        400
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1xL0-6khNi7F24zSXcOQyfnnJk7h1tnqIT6O-HZN8HCQ"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "profile"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "p2c-read-profile",
      "name": "Read Profile",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -176,
        400
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "gaz2XaoLm0ZFllb3",
          "name": "Google Sheets (SA)"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1xL0-6khNi7F24zSXcOQyfnnJk7h1tnqIT6O-HZN8HCQ"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "workout_log"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "p2c-read-workouts",
      "name": "Read Workout Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        48,
        400
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "gaz2XaoLm0ZFllb3",
          "name": "Google Sheets (SA)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const profileRows = $('Read Profile').all().map(i => i.json);\nconst workoutRows = $('Read Workout Log').all().map(i => i.json);\n\nconst pad = (n) => String(n).padStart(2, '0');\nconst now = new Date();\nconst today = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\n\nconst out = [];\n\nfor (const profile of profileRows) {\n  if (!profile.chat_id) continue;\n  const chat_id = profile.chat_id;\n  const interval = Number(profile.training_days_interval) || 1;\n\n  const sortedW = workoutRows\n    .filter(r => r.date)\n    .sort((a, b) => String(a.date).localeCompare(String(b.date)));\n  const lastWorkout = sortedW[sortedW.length - 1] || null;\n\n  function parseN(plan) {\n    if (!plan) return null;\n    const m = String(plan).match(/№?\\s*([1-4])/);\n    if (m) return Number(m[1]);\n    const s = String(plan).toLowerCase();\n    if (s.includes('грудь') && s.includes('бицепс')) return 1;\n    if (s.includes('плечи') && s.includes('грудь'))  return 2;\n    if (s.includes('спина') && s.includes('трицепс'))return 3;\n    if (s.includes('ноги')) return 4;\n    return null;\n  }\n\n  let expectedNum = null;\n  if (!lastWorkout) {\n    expectedNum = 1;\n  } else {\n    const lastDate = new Date(String(lastWorkout.date));\n    const todayD = new Date(today);\n    const daysSince = Math.floor((todayD - lastDate) / (1000*60*60*24));\n    if (daysSince < interval) expectedNum = null; // отдых\n    else expectedNum = ((parseN(lastWorkout.day_plan) || 0) % 4) + 1;\n  }\n\n  const todayLogged = sortedW.some(r => String(r.date) === today);\n  const need_ping = expectedNum !== null && !todayLogged;\n\n  if (need_ping) {\n    const labels = {\n      1: '№1 — Грудь + Бицепс',\n      2: '№2 — Плечи + Грудь',\n      3: '№3 — Спина + Трицепс',\n      4: '№4 — Ноги',\n    };\n    const text = `Эй. Сегодня по циклу должна была быть тренировка ${labels[expectedNum]}, а отчёта от тебя нет. Что случилось? Завтра ты по плану отдыхаешь — лучше не пропускать.`;\n    out.push({ json: { chat_id, text } });\n  }\n}\n\nreturn out;"
      },
      "id": "p2c-compute",
      "name": "Compute Need Ping",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "p2c-telegram-send",
      "name": "Telegram Ping",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        400
      ],
      "webhookId": "p2c-telegram-ping-hook",
      "credentials": {
        "telegramApi": {
          "id": "i66iQ2uUac0QdYNa",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron 23:00 MSK": {
      "main": [
        [
          {
            "node": "Read Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Profile": {
      "main": [
        [
          {
            "node": "Read Workout Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Workout Log": {
      "main": [
        [
          {
            "node": "Compute Need Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Need Ping": {
      "main": [
        [
          {
            "node": "Telegram Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow"
  },
  "versionId": "phase2-cron-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "fitness-bot-phase-2-cron",
  "tags": []
}