Fitness_Bot_DeleteFood.json
{
  "name": "Fitness_Bot_DeleteFood",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delete-food",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "df00-wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "delete-food-hook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tg-token",
              "name": "bot_token",
              "value": "={{ $env.TELEGRAM_BOT_TOKEN }}",
              "type": "string"
            },
            {
              "id": "body-raw",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "df01-env",
      "name": "Inject Env",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// --- 1. Парсим тело ---\nlet body;\ntry {\n  const raw = $input.first().json.body;\n  body = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  throw new Error('Invalid JSON body');\n}\n\nconst initData = body.initData || '';\nif (!initData) throw new Error('Missing initData');\n\n// --- 2. HMAC-валидация initData по схеме Telegram WebApp ---\nconst botToken = $input.first().json.bot_token;\nif (!botToken) throw new Error('TELEGRAM_BOT_TOKEN env var not set');\n\n// Парсим initData вручную (URLSearchParams недоступен в JS Task Runner sandbox)\nconst pairs = initData.split('&').map(p => {\n  const i = p.indexOf('=');\n  return i === -1 ? [p, ''] : [decodeURIComponent(p.slice(0, i)), decodeURIComponent(p.slice(i + 1))];\n});\nconst paramsMap = new Map(pairs);\nconst hash = paramsMap.get('hash');\nparamsMap.delete('hash');\n\nconst dataCheckString = [...paramsMap.entries()]\n  .sort(([a], [b]) => a.localeCompare(b))\n  .map(([k, v]) => `${k}=${v}`)\n  .join('\\n');\n\nconst secretKey = crypto.createHmac('sha256', 'WebAppData').update(botToken).digest();\nconst computed = crypto.createHmac('sha256', secretKey).update(dataCheckString).digest('hex');\n\nif (computed !== hash) {\n  throw new Error('Invalid initData signature');\n}\n\n// --- 3. Авторизация: дата initData не старше суток ---\nconst authDate = Number(paramsMap.get('auth_date')) || 0;\nconst nowSec = Math.floor(Date.now() / 1000);\nif (nowSec - authDate > 86400) {\n  throw new Error('initData too old (>24h)');\n}\n\n// --- 4. Извлекаем юзера ---\nlet user;\ntry { user = JSON.parse(paramsMap.get('user')); }\ncatch { throw new Error('Cannot parse user from initData'); }\nif (!user || !user.id) throw new Error('No user.id in initData');\n\nconst chat_id = String(user.id);\n\n// --- 5. Дата/время Москвы, meal_type по часу ---\nconst now = new Date();\n// смещение Москвы +3ч; Date в n8n уже в TZ контейнера (Europe/Moscow), но подстрахуемся:\nconst pad = (n) => String(n).padStart(2, '0');\nconst date = `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())}`;\nconst time = `${pad(now.getHours())}:${pad(now.getMinutes())}`;\nconst h = now.getHours();\nlet meal_type;\nif      (h < 11) meal_type = 'завтрак';\nelse if (h < 16) meal_type = 'обед';\nelse if (h < 19) meal_type = 'перекус';\nelse if (h < 24) meal_type = 'ужин';\nelse             meal_type = 'перекус';\n\nreturn [{\n  json: {\n    chat_id,\n    user_name: user.first_name || '',\n    date,\n    time,\n    meal_type,\n    payload: body,\n  }\n}];"
      },
      "id": "df02-val",
      "name": "Validate & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1xL0-6khNi7F24zSXcOQyfnnJk7h1tnqIT6O-HZN8HCQ"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "food_log"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "df03-read",
      "name": "Read Food Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        300
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "gaz2XaoLm0ZFllb3",
          "name": "Google Sheets (SA)"
        }
      }
    },
    {
      "id": "df04-verify",
      "name": "Verify Delete Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "// Сверяем, что строка по присланному row всё ещё та самая (защита от сдвига),\n// и только тогда отдаём _row на удаление.\nconst v = $('Validate & Parse').first().json;\nconst p = v.payload || {};\nconst today = v.date;\n\nconst wantRow = Number(p.row);\nconst wantDesc = String(p.description || '');\nconst wantDate = (typeof p.date === 'string' && /^\\d{4}-\\d{2}-\\d{2}$/.test(p.date)) ? p.date : today;\nif (!wantRow || wantRow < 2) throw new Error('bad_row');\n\nconst rows = $('Read Food Log').all().map((it, idx) => ({ ...it.json, _row: idx + 2 }));\nconst target = rows.find(r => r._row === wantRow);\nif (!target) throw new Error('row_not_found_reload');\nif (String(target.date) !== wantDate) throw new Error('row_date_mismatch_reload');\nif (String(target.description || '') !== wantDesc) throw new Error('row_content_mismatch_reload');\n\nreturn [{ json: { _row: wantRow } }];\n"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1xL0-6khNi7F24zSXcOQyfnnJk7h1tnqIT6O-HZN8HCQ"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "food_log"
        },
        "toDelete": "rows",
        "startIndex": "={{ $json._row }}",
        "numberToDelete": 1,
        "authentication": "serviceAccount"
      },
      "id": "df05-del",
      "name": "Delete Food Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "gaz2XaoLm0ZFllb3",
          "name": "Google Sheets (SA)"
        }
      }
    },
    {
      "id": "df06-resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Inject Env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Env": {
      "main": [
        [
          {
            "node": "Validate & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Parse": {
      "main": [
        [
          {
            "node": "Read Food Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Food Log": {
      "main": [
        [
          {
            "node": "Verify Delete Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Delete Target": {
      "main": [
        [
          {
            "node": "Delete Food Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Food Row": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}